$lightblue: #38AEF0;
$white: #ffffff;
$slateblack:#434a54;
$gray:#999999;
$darkwhite: #fafafafa;
$Whitegray: #dddd;
$darknaby:#253141;
$grayblack:#2f3e51;
$black:#333333;
$border-white:#eeeeee;
$alert_orange: #F35500;
